body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

#header-logo {
  width: 64px;
}

ul {
  display: flex;
  padding-left: 0px;
  gap: 32px;
  list-style: none;
}

li > a {
  text-decoration: none;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  margin-top: 90vh;

  align-items: center;

  border: 5px solid red;
}

footer section {
  display: flex;
  flex-direction: column;
  border: 5px dotted orange;

  width: 100%;
  align-items: center;
}

footer section > h3 {
  text-align: center;
}

footer nav > ul {
  display: flex;
  padding-left: 0px;
  gap: 32px;
  list-style: none;
}

footer li {
  border: 1px solid #cccccc;
  height: 42px;
  width: 42px;
  border-radius: 4px;
}